// colors
$yellow: rgb(220, 155, 35);
$light-yellow: rgb(255, 252, 213);
$green: rgb(0, 67, 26);

// fonts
$header-font: "Gloock", serif;
$body-font: "Lato", serif;

// font size
// general
$subheader-font-size: 20px;
// mobile
$h1-size-mobile: 45px;
$h2-size-mobile: 30px;
$body-font-size: 18px;
$navbar-font-size: 16px;
$button-font-size: 16px;

// spacing
$x-large-spacing: 60px;
$large-spacing: 40px;
$med-spacing: 20px;
$small-spacing: 15px;
$x-small-spacing: 10px;

// section spacing
$page-section-mobile: 40px 10px;

// border-radius
$med-border-radius: 20px;
$small-border-radius: 5px;

//buttons
$button-padding: 15px 20px;